.input-container {
    display: flex;
    flex-direction: column;
    width: 16rem;
    padding: 1rem;
}

.label-input {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input-container label {
    margin-bottom: 1rem;
}

.input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 90%;
}

.input-erro {
    border-color: #ff0000;
    box-shadow: 0 0 5px rgba(255, 0, 0, 0.3);
}

.input-erro:focus {
    border-color: #ff0000;
}

.input:focus {
    outline: none;
    border-color: #ffffff;
}