.servico-imagem-menor {
    width: 48%;
}

.servico-informacoes {
    width: 70%;
}

.resumo-servico {
    background: white;
    border-radius: 12px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
    height: fit-content;
    position: sticky;
}

@media (max-width: 768px) {
    main {
        padding: 2rem;
    }

    .servico-imagem {
        width: 100%;
        height: 100%;
    }

    .servico-imagem-menor {
        display: none;
    }

    .servico-detalhes {
        flex-direction: column;
        height: 10rem;
    }

    .servico-content {
        flex-direction: column;
        align-items: flex-start;
        text-align: left;
    }

    .servico-informacoes {
        width: 100%;
        margin-top: 1rem;
    }

    .resumo-servico-container {
        position: fixed !important;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 36%;
    }

    .sobre-local {
        flex-direction: column;
        align-items: flex-start;
    }

    .como-chegar {
        margin-top: 3rem;
    }
}