@media (max-width: 768px) {
    .carrinho-content {
        flex-direction: column;
        align-items: center;
        padding: 2rem;
        margin-bottom: 10rem;
    }

    .resumo-pedido-carrinho {
        position: fixed !important;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 30%;
        z-index: 1000;
    }

    .carrinho {
        width: 100%;
    }
}